---
import Layout from "@layouts/Layout.astro";
import BlogLink from "@components/BlogLink.astro";
import { getAllTags } from "@lib/getAllTags";

export async function getStaticPaths() {
  const tags = await getAllTags();
  return tags.map((tag) => ({
    params: { id: tag.name },
    props: {
      blogs: tag.blogs,
    },
  }));
}

const { id } = Astro.params;
const { blogs } = Astro.props;
---

<Layout title={`タグ: ${id}`} description={`${id}のタグがついた投稿`}>
  <h1 class="mb-8">
    <span class="font-semibold">
      "{id}"
    </span>
    のタグがついた投稿
  </h1>
  <ul class="flex flex-col gap-4">
    {
      blogs.map((blog) => (
        <li>
          <BlogLink entry={blog} />
        </li>
      ))
    }
  </ul>
</Layout>
