---
import Layout from "@layouts/Layout.astro";
import BlogLink from "@components/BlogLink.astro";
import { getAllTags } from "@lib/getAllTags";
import TagLink from "@components/TagLink.astro";
import { getAllBlogs } from "@lib/getAllBlogs";

const blogs = await getAllBlogs();
const tags = await getAllTags();
---

<Layout>
  <ul class="mb-8 flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <li>
          <TagLink name={tag.name} count={tag.count} />
        </li>
      ))
    }
  </ul>

  <ul class="flex flex-col gap-4">
    {
      blogs.map((blog) => (
        <li>
          <BlogLink entry={blog} />
        </li>
      ))
    }
  </ul>
</Layout>
