---
import Container from "@components/Container.astro";
import { SITE } from "@consts";
---

<footer class="animate">
  <Container>
    <div class="flex items-center justify-between">
      <div>&copy; {new Date().getFullYear()} {SITE.TITLE}</div>
    </div>
  </Container>
</footer>
